<div class="programmes-component-container component-section-container">
    <app-tab-selection [config]="tabSelectionConfig" (eTabClick)=tabClickHandler($event)></app-tab-selection>
    <div>
        <div *ngIf="selectedTab && selectedTab === 'UNDERGRADUATE'">
            <div class="panel-container">
                <div class="panel-header-container">
                   B.Tech (Computer Science & Engineering)
                </div>
                <div class="panel-body-container">
                    <div>The B.Tech in Computer Science and Engineering is one of the most popular programmes at N.I.T.K Surathkal. The programme was stated in 1986 and has been designed to cater to global demands and offers a balanced coverage of hardware and software systems. The programme includes elective courses covering thrust areas such as Distributed Systems & Computing, Parallel Architectures & High performance computing, High-Speed Networks, Designing with Network Processors, Security and Embedded Systems Cloud Computing etc. The B.Tech. programme enjoys an enviable placement of almost 100% year after year. About 25 to 35% of the students pursue higher studies after their graduation, mostly in U.S with scholarship and even without fellowship. 
                    </div>
                    <div class = "list-elements">Admissions:Through JEE(Main) as per guidlines of MHRD</div>
                    <div class = "list-elements">Average Intake(per year):110</div>
                    <div class = "list-elements"><a target="blank" href = "https://www.nitk.ac.in/document/attachments/1532/UG-Curriculum-2019.pdf">B.Tech Cirriculam[2019]</a></div>
                
                    <div class = "list-elements"><a target = "blank" href = "https://www.nitk.ac.in/Curriculum"> Cirriculam Archive</a></div>
                    <div class = "list-elements"><a target = "blank" href = "https://www.nitk.ac.in/Academic_Calendars">Academic Calendar</a></div>
                </div>
            </div>
            <div class="panel-container">
                <div class="panel-header-container">
                    Programme Educational Objectives (PEOs)
                </div>
                <div class="panel-body-container">
                    <ol>
                        <li>To provide students with sound foundations in Basic Sciences and fundamentals in Engineering Sciences.</li>
                        <li>To inculcate strong problem solving skills through the courses of CSE.</li>
                        <li> To provide students with hands on experience in implementing various software development concepts.</li>
                        <li>Train the students in project based assignments.</li>
                        <li>To impress upon students the importance of good ethical practices, right professional conduct and responsible team leadership.</li>
                    </ol>
                </div>
            </div>
            <div class="panel-container">
                <div class="panel-header-container">
                    Programme Outcomes (POs)
                </div>
                <div class="panel-body-container">
                    <ol>
                        <li>Ability to apply knowledge of computing, mathematics, science and engineering fundamentals to the solution of complex engineering problems.                        </li>
                        <li>Ability to formulate and analyze a problem, and define the computing requirements appropriate to its solution using basic principles of mathematics, science and computer engineering.</li>
                        <li>Ability to design, implement, and evaluate a computer based system, process, component, or software to meet the desired needs.</li>
                        <li> Ability to design and conduct research based experiments, perform analysis and interpretation of data and provide valid conclusions.</li>
                        <li>Ability to use current techniques, skills, and tools necessary for computing practice.</li>
                        <li>Understanding of legal, health, security, cultural and social issues, and the consequent responsibilities relevant to the professional engineering practice.</li>
                        <li>Understanding of the impact of professional engineering solutions on environmental context and the need for sustainable development</li>
                        <li> Understanding and commitment towards the professional and ethical responsibilities of an engineer.</li>
                        <li>Ability to function effectively as an individual, and as a team member / leader in accomplishing a common goal.</li>
                        <li>Ability to communicate effectively, make effective presentations and write and comprehend technical reports and publications.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTab && selectedTab === 'POSTGRADUATE'">
            <div class="panel-container">
                <div class="panel-header-container">
                    M.Tech (Computer Science & Engineering) and M.Tech (CSE-IS)
                </div>
                <div class="panel-body-container">
                    <div>The department offers two post-graduate courses - M.Tech. in Computer Science and Engineering (CSE) and M.Tech in Computer Science and Engineering - Information Security (CSE-IS).
                    </div>
                    <div class = "list-elements">Admissions:Through GATE as per guidlines of MHRD</div>
                    <div class = "list-elements"><a target="blank" href = "https://www.nitk.ac.in/document/attachments/1532/Curriculum">M.Tech Cirriculam[2019]</a></div>
                
                    <div class = "list-elements"><a target = "blank" href = "http://old.nitk.ac.in/academics/curriculum"> Cirriculam Archive</a></div>
                    <div class = "list-elements"><a target = "blank" href = "https://www.nitk.ac.in/Academic_Calendars">Academic Calendar</a></div>
                </div>
            </div>
       
            <div class="panel-container">
                <div class="panel-header-container">
                    M.Tech (Computer Science & Engineering)
                </div>
                <div class="panel-body-container">
                    <div>The M.Tech.(CSE) is a four semester course and was started in 1996. The course is aimed at providing a comprehensive overview of the recent developments in various frontier areas of Computer Science and Engineering including Computer Architecture, Software Systems, Parallel and Distributed Computing and Networking with Web Technologies. To provide a sound basis, sufficient amount of theoretical input is also given to the students. Another feature of the programme is that the students will have ample opportunity to carry out research & software development in the labs.
                    </div>
                    <div class = "list-elements">Average Intake(per year):27</div>
                </div>
            </div>

            <div class="panel-container">
                <div class="panel-header-container">
                    M.Tech (Computer Science & Engineering-Information Security)
                </div>
                <div class="panel-body-container">
                    <div>M.Tech(CSE-IS) is a four semester course aimed to focus on the recent developments in the areas of Information Security. The course was offered for the first time in 2007. The curriculum for these P.G programmes has been carefully crafted to cater the need of those students who are admitted with their basic degree in computing. In other words, care is taken, not to repeat the same, good old courses of U.G in the P.G level.
                    </div>
                    <div class = "list-elements">Average Intake(per year):27</div>
                </div>
            </div>

            <div class="panel-container">
                <div class="panel-header-container">
                    M.Tech (By Research)
                </div>
                <div class="panel-body-container">
                    <div>M.Tech (By Research) programme was started in 2011 and is aimed at students interested more in exposure to research in various fields of Computer Science & Engineering. It emphasizes research work, providing students a distinctive opportunity to undertake research work and innovation.
                    </div>
                    <div class = "list-elements">Average Intake(per year):2 - 4</div>
                </div>
            </div>

            <div class="panel-container">
                <div class="panel-header-container">
                    Programme Educational Objectives (PEOs)
                </div>
                <div class="panel-body-container">
                    <ol>
                        <li> Analyze, design and create computing solutions for scientific and multidisciplinary engineering challenges.</li>
                        <li> Pursue a successful career in industry/academia/research/government driven by strong foundations and in-depth domain knowledge and  contribute to the engineering sphere as a competent professional.</li>
                        <li>Demonstrate an exceptional involvement and active participation in Research and Development leading to new innovations and optimized solutions.</li>
                        <li>Engage in lifelong learning with persistent scientific temper for professional advancement and effective communication of the technical information.</li>
                        <li>Work effectively in multi-disciplinary and multi-cultural environments by respecting professionalism and ethical practices within organization and society at national and international level.</li>
                    </ol>
                </div>
            </div>
            <div class="panel-container">
                <div class="panel-header-container">
                    Programme Outcomes (POs)
                </div>
                <div class="panel-body-container">
                    <div style="padding:0.5em">
                        After the completion of the M.Tech. programme, the post graduates of the Computer Science and Engineering department will
                    </div>
                    <ol>
                        <li>Apply knowledge of mathematics and principles of computing in the design and development of software and hardware systems of varying complexity.</li>
                        <li>Enhance skills and continuously acquire advanced knowledge in Computer Science, multidisciplinary and interdisciplinary domains for professional excellence.</li>
                        <li>Identify, formulate and critically study the problem, design and develop efficient algorithms, conduct experiments, analysing the results and  applying the knowledge to different domains</li>
                        <li>Apply current techniques, skills and modern engineering tools to build robust, reliable, maintainable, scalable and efficient computing systems  by considering social, environmental, economic, and security constraints.</li>
                        <li>Critically analyze existing literature in an area of specialization, conduct investigative research to develop innovative methodologies to tackle  issues identified and contribute to the development of technological knowledge and intellectual property.</li>
                        <li>Manage and execute complex engineering projects under economic, time and performance constraints.</li>
                        <li>Contribute and communicate effectively in multidisciplinary and multicultural scenarios.</li>
                        <li>Become a complete professional with high integrity and ethics, with excellent professional conduct and with empathy towards the environmental and social needs</li>
                        <li>Critically evaluate the outcomes of one's actions and apply self corrective measures to improve the performance.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div *ngIf="selectedTab && selectedTab === 'DOCTORAL'">
            <div style="padding-bottom: 0.5rem">
                The department has a doctoral programme with an annual intake of 5-10 students per year. Admission to the doctoral programme is through a rigorous process of test and interview conducted by the department. The department now accomodated 54 research scholars working on diverse areas in computer science.
            </div>
            <div style="padding-bottom: 0.5rem">
                <a href = "https://www.nitk.ac.in/PHD_Research_Programmes" target = "blank">Detailed Information and Rules/Regulations about Ph.D. Programmes.</a>
            </div>        
            <div class="panel-container">
                <div style="padding-bottom: 0.5rem">
                    The active areas of research in the department are:
                </div>
                <div class="panel-body-container">
                    <ul>
                        <li>Algorithms</li>
                        <li>Computer Architecture</li>
                        <li>Computer Networks</li>
                        <li>Data Informatics and Analytics</li>
                        <li>Distributed and Cloud Computing</li>
                        <li>Information Security</li>
                        <li>Speech and Image processing</li>
                        <li>Software Engineering</li>
                        <li>Data Mining</li>
                        <li>High Perfomance Computing</li>
                        <li>Computer Vision</li>
                        <li>Mobile Computing</li>
                        <li>Cloud System</li>
                        <li> Internet of Things</li>
                        <li>Blockchain Applications</li>
                        <li>Machine Learning And Artifical Intelligence</li>
                        <li>Network-On-Chip</li>
                        <li>Formal Verification</li>
                        <li>CyberPhysics Systems</li>
                        <li>Data Science</li>
                        <li>Social Computing</li>
                        <li>Graph Theory</li>
                        <li>Big Data Analytics</li>
                        <li>Network Function Virtualization</li>
                        <li>5G Core</li>
                        <li>Underwater Communication</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>