<div class="people-list-component-container">
    <div *ngFor="let peopleDetails of peopleDetailsWithDesignation">
        <div *ngIf="!isNoneDesignation(peopleDetails)" class="designation-name-container header-title-container">
            <span style="padding-right: 0.5rem;">{{peopleDetails.designation}}</span>
            <span *ngIf="isPeopleCreatePermissionAvailable()" class="action-icon-container fa fa-plus-circle" (click)="addPeopleClickHandler(peopleDetails.designation)"></span>
        </div>
        <div class="people-detail-container">
            <div *ngFor="let people of peopleDetails.peopleDetailsList" class="people-info-card-wrapper-container">
                <app-people-info-card [peopleDetail]="people"></app-people-info-card>
            </div>
        </div>
    </div>
</div>