.placements-component-container {
    .placement-image-container {
        width: 50%;
        margin: auto;
        margin-bottom: 1rem;
        background-image: none;
        img {
            width: 100%;
        }
    }
}