<div class="placements-component-container component-section-container">
    <div>
        Students of the department are sought after by the top companies in the world owing to their academic standing. The department consistently performs exceptionally in terms of placement statistics. Every year top companies like Microsoft, Adobe and Oracle come for placement and recruit students from the department. The placement percentage for the B.Tech courses is consistenly above 90%. The M.Tech courses are sought after by IT companies and educational insitutions. IT companies also recruit M.Tech graduates from our department for a research profile in their companies. 
    </div>
    <div class="header-title-container" style="margin-top:0.5em">
        Placement Statistics(Combined)
    </div>
    <div class="panel-container placement-image-container">
        <div class="panel-body-container">
            <img src="assets\placements.PNG" alt="image"/>
        </div>
    </div>
    <div class="panel-container placement-image-container">
        <div class="panel-body-container">
            <img src="assets\btechplacements.PNG" alt="image"/>
        </div>
    </div>
    <div class="panel-container placement-image-container">
        <div class="panel-body-container">
            <img src="assets\mtechplacements.PNG" alt="image"/>
        </div>
    </div>
    <div class="panel-container placement-image-container">
        <div class="panel-body-container">
            <img src="assets\mtechcsis.PNG" alt="image"/>
        </div>
    </div>
</div>
