<div class="main-header-component-container">
    <div class="nitk-logo-container" (click)="navigateToHome()">
        <img src="assets\nitk-logo.png" alt="image"/>
    </div>
    <div class="main-header-title-container" (click)="navigateToHome()">
        <div class="main-header-collage-name-container">
            NATIONAL INSTITUTE OF TECHNOLOGY, KARNATAKA, SURATHKAL
        </div>
        <div class="main-header-branch-name-container">
            COMPUTER SCIENCE AND ENGINEERING
        </div>
    </div>
    <div class="main-header-menu-bar-container">
        <app-menu-bar></app-menu-bar>
    </div>
</div>